extends layout

block content
    script(src='/lib/vendor/moment/moment.js')
    script(src='/js/insertarArticulos.js')

    .col-md-8.col-md-offset-2.text-center
        h2 Insertar artículos
        button#leerDatos.btn.btn-default(type='button') Leer datos
        .col-xs-12(style='height:30px;')
        h3 Datos del artículo
        .col-xs-12(style='height:14px;')
        form#envioDatos.form-horizonta(role='form')
          .row
          .col-xs-6.form-group
            label(for='codigo') Código de barras
            input#codigo.form-control(type='text', name='codigo', readonly='')
          .col-xs-6.form-group
            label(for='existencia') Existencia
            input#existencia.form-control(type='text', disabled='')
          .col-xs-12
            .row
              .col-xs-8.col-sm-4
                label(for='fecha') Fecha
                input#fecha.form-control(type='text', name='fecha', readonly='')
              .col-xs-8.col-sm-4
                label(for='articulo') Tipo de artículo
                input#articulo.form-control(type='text', name='articulo', readonly='')
              .col-xs-8.col-sm-4
                label(for='codid') Identificador
                input#codid.form-control(type='text', name='codid', readonly='')
          .col-xs-12(style='height:10px;')
          .col-xs-12.form-group
            label(for='centro') Centro de origen
            input#centro.form-control(type='text', name='centro', size='50', readonly='')
          .col-xs-12
            .row
              .col-xs-8.col-sm-4
                label(for='modelo') Modelo
                input#modelo.form-control(type='text', name='modelo', size='30')
              .col-xs-8.col-sm-4
                label(for='peso') Peso (en kg)
                input#peso.form-control(type='text', name='peso')
              .col-xs-8.col-sm-4
                label(for='funciona') ¿Funciona?
                input#funciona.form-control(type='checkbox', name='funciona')
          .col-xs-12(style='height:10px;')
          .col-xs-12.form-group
            label(for='comentarios') Comentarios
            textarea#comentarios.form-control(style='resize: none;', rows='4', cols='50', name='comentarios')
          .col-xs-12(style='height:10px;')
          input#enviarDatos.btn.btn-default(type='submit', value='Enviar datos')
