doctype html(lang='es')
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Aplicación web para gestión del material informático en el almacén')
    meta(name='keywords', content='gestion, almacen, inventario, donaciones')
    meta(name='author', content='Germán Martínez Maldonado')
    link(rel='icon', href='/images/favicon.ico')
    title= titulo
    link(rel='stylesheet', href='/style/css/style.css')
    script(src='/lib/vendor/jquery/dist/jquery.min.js')
    script(src='/lib/JsBarcode.all.min.js')
    script(src='/js/generar.js')
body
    nav.navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            #navbar.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href='/') Inicio
                    li
                        a(href='/crear') Crear etiquetas
                    li
                        a(href='/insertar') Insertar artículos
    .container
        .starter-template
            block content
